<h1 class="text-align-center">{{ title }}</h1>
<div class="container">
  <div class="form-container">
    <form #noteForm="ngForm" (ngSubmit)="saveNote()" class="flex-column form">
      <input
        id="title"
        name="title"
        type="text"
        placeholder="Title"
        [(ngModel)]="noteTitle"
        required
        minlength="5"
        class="form-control"
        #titleInput="ngModel"
        [ngClass]="{
          'error-border':
            titleInput.invalid && (titleInput.dirty || titleInput.touched)
        }"
      />

      <div
        *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)"
      >
        <small class="text-errored" *ngIf="titleInput.errors?.['required']"
          >Title is required</small
        >
        <small class="text-errored" *ngIf="titleInput.errors?.['minlength']"
          >Title must be at least 5 characters long</small
        >
      </div>

      <textarea
        id="content"
        name="content"
        type="text"
        placeholder="Content"
        [(ngModel)]="noteContent"
        required
        minlength="7"
        class="form-control"
        #contentInput="ngModel"
        [ngClass]="{
          'error-border':
            contentInput.invalid && (contentInput.dirty || contentInput.touched)
        }"
      ></textarea>

      <div
        *ngIf="
          contentInput.invalid && (contentInput.dirty || contentInput.touched)
        "
      >
        <small class="text-errored" *ngIf="contentInput.errors?.['required']"
          >Content is required</small
        >
        <small class="text-errored" *ngIf="contentInput.errors?.['minlength']"
          >Content must be at least 7 characters long</small
        >
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="noteForm.invalid"
      >
        Save note
      </button>
    </form>
  </div>

  <div class="notes-list-container flex-column">
    <div *ngIf="!notes.length">
      <p>There are no notes to display.</p>
    </div>
    <div *ngFor="let note of notes" (click)="makeActive(note)">
      <div class="card" [ngClass]="{ active: note.isActive }">
        <div class="card-header">
          {{ note.title }}
        </div>
        <div class="card-body">
          {{ note.content }}
        </div>
      </div>

      <div *ngIf="note.isActive" class="btns-container">
        <button class="btn btn-primary" (click)="editNote(note)">Edit</button>
        <button class="btn btn-secondary" (click)="deleteNote(note)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
