<h1 class="text-align-center">{{ title }}</h1>
<div class="container">
  <div class="form-container">
    <form (ngSubmit)="saveNote()" class="form">
      <input
        name="title"
        type="text"
        placeholder="Title"
        [(ngModel)]="noteTitle"
        required
        class="form-control"
      />

      <textarea
        name="noteContent"
        type="text"
        placeholder="Content"
        [(ngModel)]="noteContent"
        required
        class="form-control"
      ></textarea>

      <button type="submit" class="btn btn-primary">Save note</button>
    </form>
  </div>

  <div class="notes-list-container">
    <div *ngFor="let note of notes" (click)="makeActive(note)">
      <div class="card">
        <div class="card-header">
          {{ note.title }}
        </div>
        <div class="card-body">
          {{ note.content }}
        </div>
      </div>

      <div *ngIf="note.isActive">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-red" (click)="deleteNote(note)">Delete</button>
      </div>
    </div>
  </div>
</div>
